<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/style/dynamic.css" />
<link rel="stylesheet" href="/style/header.css" />
<link rel="stylesheet" href="/style/login.css" />
<style>
  body {
    background-color: black;
  }
</style>
<section id="login-section">
  <div class="login-wrapper">
    <h2>Login Here</h2>
    <form action="">
      <div>
        <label for="email">Your Email</label>
        <input
          type="email"
          name="useremail"
          id="useremail"
          placeholder="Enter Your Email"
        />
        <label for="userpassword">Password</label>
        <input
          type="password"
          name="userpassword"
          id="userpassword"
          placeholder="Enter Your Password"
        />
      </div>
    </form>
  </div>
</section>
