.about-wrapper {
  height: 70vh;
}
.about-wrapper h2 {
  font-size: 60px;
  line-height: 72px;
  font-weight: 600;
  color: white;
}
.aboutme{
    text-align: center;
}
.aboutme img{
    width: 52px;
}
.aboutme h5{
    font-size: 42px;
    line-height: 52px;
    font-weight: 400;
    color: white;
    max-width: 80%;
    margin: 0 auto;
}
.info-image{
    width: 40% !important;
}
.info-image img{
    width: 80%;
}
.personal-info{
    padding:40px 0;
    margin-top: 30px;
    background-color: var(--secondry);
}
.info-content{
    width: 60% !important;
    text-align: start;
}
.info-content h3{
    font-size: 42px;
    line-height: 50px;
    font-weight: 500;
    color: white;
}
.info-content p{
        max-width: 80% !important;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #999;
    padding-top: 20px;
}
.details-wrapper{
    margin-top: 5px;
    display: flex;
    gap: 20px;
    max-width: 90%;
    justify-content: space-between;
}
.detail{
    padding: 30px 15px;
    margin: 10px 0;
    width: 50%;
        background-color: var(--other);
        border-radius: 8px;
        border: 2px solid var(--other);
}
.detail:hover{
    border: 2px solid var(--primary);
    transition: 0.5s ease;
}
.detail p{
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: #999;
}
.detail a, .address{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: white !important;
    margin-top: 15px;
    display: inline-block;
}
.social i{
    padding: 0 5px 0 0;
        margin-top: 15px;
    color: var(--primary);
}
/* .experience{
    padding-top: 40px;
} */
.experince-info{
    margin: 0;
    flex-direction: row-reverse;
}
.exper-content{
    padding: 0 0 0 20px;
}
hr{
    height: 2px;
   background-color: var(--primary);
}
.education-info{
margin: 0 0 50px 0;
    flex-direction: row;
}

@media screen and (max-width:1024px){
.about-wrapper {
  height: 60vh;
}
.about-wrapper h2 {
  font-size: 52px;
  line-height: 62px;
}
.aboutme h5 {
    font-size: 32px;
    line-height: 38px;
    max-width: 90%;
}
.info-content p {
    max-width: 95% !important;
}
.details-wrapper {
    max-width: 95%;
}
}
@media screen and (max-width:767px){
.about-wrapper {
  height: 40vh;
}
.aboutme h5 {
    font-size: 28px;
    line-height: 42px;
    max-width: 95%;
}
.flex-box{
    padding: 0 10px;
}
.info-content p {
    max-width: 100% !important;
}
.details-wrapper {
    max-width: 100%;
    flex-direction: column;
    gap: 10px;
}
.detail {
    width: auto;
}
}