@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Kanit", sans-serif !important;
    background-color: var(--other);
    box-sizing: border-box;
}
:root{
    --primary: #c9f31d;
    --secondry: #1D1D1D;
    --headcolor: #ffffff;
    --peracolor: #999;
    --other: #000000;
}
.flex-con{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-box{
 width: 50%;
}
.color-change{
    color: var(--primary);
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}
li{
    color: var(--headcolor);
}
a{
    text-decoration: none;
}
p{
    font-size: 14px;
    line-height: 21px;
    color: var(--peracolor);
    font-weight: 400;
}
h1{
    font-size: 86px;
    line-height: 103px;
    font-weight: 600;
    color: var(--headcolor);
}
h2{
    font-size: 60px;
    line-height: 72px;
    font-weight: 500;
    color: var(--headcolor);
}
h3{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    color: var(--headcolor);
}
h4{
    font-size: 36px;
    line-height: 43px;
    font-weight: 500;
    color: var(--headcolor);
}
#mainhead{
    position: sticky;
    top: 0;
     background: transparent;
    transition: background-color 0.3s ease;
}
#mainhead.active {
 background-color: blue;
}
@media screen and (max-width:767px){
    .flex-con{
    flex-direction: column;
}
    .flex-box{
         width: auto !important;
}
}